.nav_container{
    display: flex;
    flex-direction: row;
    padding: 10px 20px;

background: radial-gradient(circle at center,
            #fcd34d,
            #f97316,
            #ef4444
        );
}

.link {
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #ef4444;
    border-radius: 100px;
    color: black;
    background: linear-gradient(to bottom,
            #fcd34d 0%, 
            #ef4444 100% 
        );
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;

    &:hover {
        border: 1px solid #e0b117;
        // color: #fcd34d;
        // background: linear-gradient(to bottom,
        //             #ef4444 0%,
        //             #fcd34d 100%);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    }
}