.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    background-color: rgba(0, 0, 0, 0.3); 
    
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    
    will-change: backdrop-filter;
}

.modal {
    border-radius: 40px;
    padding: 64px 20px;
    width: 100%;
    max-width: 335px;
    position: relative;

    background: radial-gradient(circle at center,
                #fcd34d,
                #f97316,
                #ef4444);
    box-shadow: 2px 2px 6px rgba(250, 1, 1, 0.4);
}

.title{
    font-size: 24px;
    color: black;
    padding: 3px;
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    outline: none;

    cursor: pointer;
    background-color: transparent;
}

.closeIcon {
    width: 24px;
    height: 24px;
    fill: white;
    stroke: rgb(17, 17, 17);
}

@media (min-width: 768px) {
    .modal {
        padding: 64px 32px;
        max-width: 704px;
    }
}

@media (min-width: 1440px) {
    .modal {
        padding: 64px;
        max-width: 768px;
        width: 768px;
    }
}